*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    height: 100px;
    background-color: mediumblue;
    float: none;
}
.sidebar{
    height: 300px;
    background-color: red;
    width: 200px;
    float: left;
}
.footer{
    height: 200px;
    background-color: lightblue;
}
